Repository ganga-devs/ganga, pull requests merged in 2018-02, with the labels that each got.

#1203 Add getReplicasForJobs for splitter
  python/GangaDirac/Lib/Server/DiracCommands.py
  python/GangaDirac/Lib/Splitters/OfflineGangaDiracSplitter.py
Labels: DIRAC

#1209 Release things
  Jenkinsfile_release
  ganga/GangaRelease/ReleaseNotes
  startRelease.sh
Labels: enhancement, release

#1210 Branch for release 7.0.0
  ganga/GangaCore/Runtime/bootstrap.py
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.0.0
  ganga/GangaRelease/tools/ganga-install-externals
  setup.py
  startRelease.sh
Labels: release

#1221 For release 7.0.1
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.0.1
  ganga/GangaRelease/tools/ganga-install
  ganga/GangaRelease/tools/ganga-install-externals
  setup.py
Labels: release

#1194 Hardening the code against Ctrl-C events
  bin/ganga
  ganga/GangaCore/Core/InternalServices/ShutdownManager.py
  ganga/GangaCore/GPIDev/Base/Proxy.py
  ganga/GangaCore/testlib/GangaUnitTest.py
Labels: Core, cleanup

#1224 Improving the logging of the execute function
  ganga/GangaCore/Utility/execute.py
Labels: Core, bug, cleanup

#1228 Updated Atlas.ini to remove startup messages
  ganga/GangaAtlas/Atlas.ini
Labels: ATLAS
