Repository ganga-devs/ganga, pull requests merged in 2018-11, with the labels that each got.

#1371 Check no of locations of GaudiExec files
  ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py
Labels: DIRAC, LHCb, enhancement

#1369 improve Dirac finalisation
  ganga/GangaCore/Core/MonitoringComponent/Local_GangaMC_Service.py
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/__init__.py
Labels: DIRAC, enhancement

#1374 Check for failure in Condor status check
  ganga/GangaCore/Lib/Condor/Condor.py
Labels: bug

#1375 Release notes 7.1.6
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.6
  setup.py
Labels: in progress, release

#1376 combine standard output and standard error for all ND280 validation jobs
  ganga/GangaND280/ND280RecoValidation/RecoPlusVFT.py
  ganga/GangaND280/ND280RecoValidation/VFT_make_ana.py
  ganga/GangaND280/ND280RecoValidation/oaReconPlusoaAnalysis.py
Labels: T2K, enhancement, ready to merge

#1378 Don't fail jobs where the Dirac sandbox is not downloaded
  ganga/GangaDirac/Lib/Backends/DiracBase.py
Labels: DIRAC, bug

#1380 Release notes 7.1.7
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.7
  setup.py
Labels: release
