Repository ganga-devs/ganga, pull requests merged in 2018-08, with the labels that each got.

#1313 Small monitoring fix
  ganga/GangaCore/Core/MonitoringComponent/Local_GangaMC_Service.py
  ganga/GangaCore/test/GPI/FileTests/TestLocalFileClient.py
  ganga/GangaCore/test/GPI/FileTests/TestMassStorageClient.py
  ganga/GangaCore/test/GPI/FileTests/TestMassStorageGetPut.py
  ganga/GangaCore/test/GPI/FileTests/TestMassStorageInput.py
  ganga/GangaCore/test/GPI/FileTests/TestMassStorageWN.py
  ganga/GangaCore/testlib/GangaUnitTest.py
Labels: Core, bug

#1315 Fix monitoring fix
  ganga/GangaCore/Core/MonitoringComponent/Local_GangaMC_Service.py
Labels: Core, bug

#1312 Release notes 7.1.1
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.1
  setup.py
Labels: release

#1323 Improve Dirac job output data removal
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/test/Unit/Backends/TestDiracBase.py
Labels: DIRAC, enhancement

#1327 Release notes for 7.1.2
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.2
  setup.py
Labels: release

#1329 Guess a platform for lb-dev
  ganga/GangaLHCb/Lib/Applications/GaudiExecUtils.py
Labels: LHCb, bug

#1331 Release notes 7.1.3
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.3
  setup.py
Labels: release

#1332 Fix auto DB tags
  ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py
Labels: LHCb, bug
