Repository ganga-devs/ganga, pull requests merged in 2018-10, with the labels that each got.

#1357 Remove credential decorator from splitter
  ganga/GangaDirac/Lib/Splitters/OfflineGangaDiracSplitter.py
Labels: DIRAC, bug

#1364 Unpack sandbox by default
  ganga/GangaDirac/Lib/Backends/DiracBase.py
Labels: DIRAC, bug

#1365 Release 7.1.5
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-7.1.5
  setup.py
Labels: release

#1145 Improve DIRAC job finalisation
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/Lib/Server/DiracCommands.py
  ganga/GangaDirac/__init__.py
Labels: DIRAC, enhancement

#1367 Compare to `None` using identity `is` operator
  ganga/GangaAtlas/Lib/ATLASDataset/DQ2Dataset.py
  ganga/GangaAtlas/Lib/ATLASDataset/EventPicking.py
  ganga/GangaAtlas/Lib/Athena/Athena.py
  ganga/GangaAtlas/Lib/Athena/dm_util.py
  ganga/GangaAtlas/Lib/Athena/ganga-stage-in-out-dq2.py
  ganga/GangaAtlas/Lib/Athena/runAthena-00-00-11.refactor.py
  ganga/GangaAtlas/Lib/Credentials/ProxyHelper.py
  ganga/GangaAtlas/Lib/Tasks/AtlasUnit.py
  ganga/GangaCMS/Lib/CRABTools/CRABApp.py
  ganga/GangaCamtology/Lib/Spider/BeautifulSoup.py
  ganga/GangaCore/Core/GangaRepository/SessionLock.py
  ganga/GangaCore/Core/GangaThread/WorkerThreads/ThreadPoolQueueMonitor.py
  ganga/GangaCore/GPIDev/Adapters/IGangaFile.py
  ganga/GangaCore/GPIDev/Adapters/IMerger.py
  ganga/GangaCore/GPIDev/Base/VPrinter.py
  ganga/GangaCore/GPIDev/Lib/File/MassStorageFile.py
  ganga/GangaCore/GPIDev/Lib/Tasks/CoreTransform.py
  ganga/GangaCore/Lib/Checkers/MetaDataChecker.py
  ganga/GangaCore/Lib/LCG/LCGSandboxCache.py
  ganga/GangaCore/Lib/Remote/Remote.py
  ganga/GangaCore/Lib/Root/shared.py
  ganga/GangaCore/Utility/root.py
  ganga/GangaCore/test/GPI/Notebook/Test_Notebook.py
  ganga/GangaCore/test/GPI/TestShared.py
  ganga/GangaDirac/Lib/Files/DiracFile.py
  ganga/GangaLHCb/Lib/Applications/Bender.py
  ganga/GangaLHCb/Lib/LHCbDataset/LHCbDataset.py
  ganga/GangaLHCb/Lib/Mergers/GaudiExecMerger.py
  ganga/GangaLHCb/Lib/Tasks/LHCbTransform.py
  ganga/GangaND280/Highland/Highland.py
  ganga/GangaND280/ND280Control/runND280.py
  ganga/GangaND280/ND280Control/runND280CosMC.py
  ganga/GangaND280/ND280Control/runND280CtrlSmpl.py
  ganga/GangaND280/ND280Control/runND280RDP.py
  ganga/GangaND280/ND280Control/runND280SandMC.py
  ganga/GangaND280/ND280Executable/ND280Executable.py
  ganga/GangaND280/ND280RecoValidation/RecoPlusVFT.py
  ganga/GangaND280/ND280RecoValidation/VFT_make_ana.py
  ganga/GangaND280/ND280RecoValidation/oaReconPlusoaAnalysis.py
  ganga/GangaND280/ND280Skimmer/ND280Skimmer.py
  ganga/GangaND280/ND280TPCGasInteractions/TRExPlusOAAnalysis.py
  ganga/GangaND280/Tasks/ND280Unit.py
  ganga/GangaPanda/Lib/Athena/AthenaJediRTHandler.py
  ganga/GangaPanda/Lib/Athena/AthenaPandaRTHandler.py
  ganga/GangaPanda/Lib/Executable/ExecutablePandaRTHandler.py
  ganga/GangaPanda/Lib/Jedi/Jedi.py
  ganga/GangaPanda/Lib/Panda/Panda.py
  ganga/GangaPlotter/Plotter/GangaPlotter.py
  ganga/GangaRelease/tools/rpm_builder.py
  ganga/GangaRobot/Lib/Base/Extract.py
  ganga/GangaRobot/Lib/Base/Report.py
  ganga/GangaRobot/old_test/Lib/Core/TestCore.py
  ganga/GangaSNOplus/Lib/Applications/job_tools.py
  ganga/GangaTest/Framework/tests.py
Labels: cleanup
