Repository ganga-devs/ganga, pull requests merged in 2018-03, with the labels that each got.

#1193 Adding fix for submitting jobs which never get picked up
  ganga/GangaCore/Core/GangaRepository/Registry.py
  ganga/GangaCore/GPIDev/Lib/Registry/JobRegistry.py
  ganga/GangaCore/__init__.py
  ganga/GangaCore/testlib/GangaUnitTest.py
Labels: Core, bug

#1225 Adding fix to enable splitting for files which don't appear to exist
  ganga/GangaCore/GPIDev/Adapters/ISplitter.py
  ganga/GangaCore/Lib/Splitters/ArgSplitter.py
  ganga/GangaDirac/Lib/Splitters/GangaSplitterUtils.py
  ganga/GangaDirac/Lib/Splitters/OfflineGangaDiracSplitter.py
  ganga/GangaDirac/Lib/Splitters/SplitterUtils.py
  ganga/GangaDirac/__init__.py
  ganga/GangaGaudi/Lib/Splitters/GaudiInputDataSplitter.py
  ganga/GangaLHCb/Lib/Splitters/LHCbSplitterUtils.py
  ganga/GangaLHCb/Lib/Splitters/SplitByFiles.py
  ganga/GangaLHCb/Lib/Splitters/SplitFilesBySize.py
Labels: DIRAC, bug

#1234 Fix auto resubmit in Dirac
  ganga/GangaDirac/Lib/Backends/DiracBase.py
Labels: DIRAC, bug

#1230 Cache warnings
  ganga/GangaCore/Utility/logging/__init__.py
Labels: enhancement

#1237 Fix status update when loading damaged jobs
  ganga/GangaCore/GPIDev/Lib/Registry/JobRegistry.py
Labels: bug

#1236 Control DiracProxy time
  ganga/GangaDirac/Lib/Credentials/DiracProxy.py
Labels: DIRAC, enhancement

#1216 set should_init on a GangaObject to true by default
  ganga/GangaCore/GPIDev/Base/Proxy.py
  ganga/GangaND280/ND280Control/runND280RDP.py
Labels: Core, bug

#1227 Atlas exe use athena setup
  ganga/GangaAtlas/Lib/Athena/Athena.py
  ganga/GangaAtlas/Lib/Athena/run-athena-new.sh
  ganga/GangaAtlas/scripts/athena
Labels: ATLAS
