Repository ganga-devs/ganga, pull requests merged in 2020-07, with the labels that each got.

#1700 GangaGUI - Job API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_dashboard.py
  ganga/GangaGUI/test/test_job_api.py
Labels: GUI

#1702 GangaGUI - Subjobs API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_subjobs_api.py
Labels: GUI

#1703 GangaGUI - Jobs API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_jobs_api.py
Labels: GUI

#1704 GangaGUI - Config API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_config_api.py
Labels: GUI

#1705 GangaGUI - Template API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_templates_api.py
Labels: GUI

#1706 GangaGUI - Credential Store API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_credential_store_api.py
Labels: GUI

#1707 GangaGUI - Job Tree API
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/test/test_jobtree_api.py
Labels: GUI

#1720 Another compressed dataset fix
  ganga/GangaLHCb/Lib/LHCbDataset/LHCbCompressedDataset.py
Labels: LHCb, bug

#1717 GangaGUI - Config View
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/gui/templates/config.html
Labels: GUI

#1735 Dstreamer - Tools for reading/saving GangaObject into MongoDatabase
  .gitignore
  ganga/GangaCore/Core/GangaRepository/DStreamer.py
Labels: Persistency, ready to merge

#1737 Blank repository addition
  .database.rc
  ganga/GangaCore/Core/GangaRepository/DStreamer.py
  ganga/GangaCore/Core/GangaRepository/DatabaseRegistry.py
  ganga/GangaCore/Core/GangaRepository/GangaRepositoryCentral.py
  ganga/GangaCore/Core/GangaRepository/GangaRepositoryDatabase.py
  ganga/GangaCore/GPIDev/Adapters/IBackend.py
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaCore/GPIDev/Lib/Registry/BoxRegistry.py
  ganga/GangaCore/GPIDev/Lib/Registry/JobRegistry.py
  ganga/GangaCore/GPIDev/Lib/Registry/PrepRegistry.py
  ganga/GangaCore/__init__.py
Labels: Persistency, ready to merge

#1749 Fix quota check
  ganga/GangaCore/Runtime/Repository_runtime.py
Labels: bug

#1742 add Dirac multicore options and fix disk checker
  ganga/GangaCore/Lib/Condor/Condor.py
  ganga/GangaCore/Runtime/Repository_runtime.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/Lib/RTHandlers/DiracRTHScript.py.template
  ganga/GangaDirac/Lib/RTHandlers/ExeDiracRTHandler.py
  ganga/GangaGaudi/Lib/RTHandlers/GaudiDiracRunTimeHandler.py
  ganga/GangaLHCb/Lib/RTHandlers/ExeDiracRTHandler.py
  ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py
  ganga/GangaLHCb/Lib/RTHandlers/LHCbGaudiDiracRunTimeHandler.py
  ganga/GangaLHCb/Lib/RTHandlers/LHCbRootDiracRunTimeHandler.py
  ganga/GangaTest/Lib/GListApp/GListApp.py
Labels: DIRAC, enhancement
