Repository ganga-devs/ganga, pull requests merged in 2020-06, with the labels that each got.

#1683 GangaGUI - Token Based Authentication
  ganga/GangaGUI/BOOT.py
  ganga/GangaGUI/config.py
  ganga/GangaGUI/gui/__init__.py
  ganga/GangaGUI/gui/models.py
  ganga/GangaGUI/gui/routes.py
  ganga/GangaGUI/start.py
  ganga/GangaGUI/test/test_dashboard.py
  ganga/GangaGUI/test/test_gui_database.py
  ganga/GangaGUI/test/test_token_authentication.py
  setup.py
Labels: GUI

#1685 Update 'ShutdownManager.py' To Conditionally Run 'stop_gui()'
  ganga/GangaCore/Core/InternalServices/ShutdownManager.py
  ganga/GangaGUI/start.py
Labels: GUI

#1710 Cleanup Jenkinsfile
  .travis.yml
  Jenkinsfile
  codecov.yml
Labels: cleanup

#1709 Add GaussGenNextNext seed to GaussSplitter
  ganga/GangaLHCb/Lib/Splitters/GaussSplitter.py
Labels: LHCb, bug

#1712 Release 8.3.2
  ganga/GangaCore/__init__.py
  ganga/GangaRelease/ReleaseNotes-8.3.2
  setup.py
Labels: release
