Repository ganga-devs/ganga, pull requests merged in 2021-06, with the labels that each got.

#1891 Add resplit for subjob
  doc/UserGuide/Splitters.rst
  ganga/GangaCore/GPIDev/Adapters/IBackend.py
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaCore/test/GPI/TestSJSubmit.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py
Labels: Core, enhancement

#1905 Add file check for LocaFile inputfiles in Executable
  ganga/GangaDirac/Lib/RTHandlers/ExeDiracRTHandler.py
  ganga/GangaLHCb/Lib/RTHandlers/ExeDiracRTHandler.py
Labels: DIRAC, bug

#1907 Ability to limit simultaneous local jobs
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaCore/Lib/Localhost/LocalHostExec.py.template
  ganga/GangaCore/Lib/Localhost/LocalHostExec_batch.py.template
  ganga/GangaCore/Lib/Localhost/Localhost.py
  ganga/GangaCore/test/GPI/TestSubjobs.py
Labels: Core, enhancement

#1911 Adapt new way of installing udocker
  .github/workflows/ci_push_testing.yml
Labels: continuous integration tests, gangaDB

#1912 Fix Condor peek
  ganga/GangaCore/Lib/Condor/Condor.py
Labels: Core, bug

#1918 WIP: Fix resplit of loaded jobs
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
Labels: Core, bug, enhancement

#1921 Fix resplit
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
Labels: Core, bug, enhancement

#1927 Fix condor time
  ganga/GangaCore/Lib/Condor/Condor.py
Labels: bug

#1932 Add killed to resplit
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
Labels: bug

#1935 Fix DiraFile getSubFiles
  ganga/GangaDirac/Lib/Files/DiracFile.py
Labels: DIRAC, bug
