Repository ganga-devs/ganga, pull requests merged in 2021-02, with the labels that each got.

#1835 Improve job remove files
  ganga/GangaCore/GPIDev/Lib/Job/Job.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/Lib/Backends/DiracUtils.py
Labels: DIRAC, enhancement

#1856 Force MassStorageFile removal with task data chain
  ganga/GangaLHCb/Lib/Tasks/LHCbUnit.py
Labels: LHCb, bug

#1845 allow Batch extraopts to be changed at resubmission
  ganga/GangaCore/Lib/Batch/Batch.py
Labels: enhancement
