Repository ganga-devs/ganga, pull requests merged in 2022-08, with the labels that each got.

#2040 Asyncio compatible tests
  ganga/GangaCore/Core/InternalServices/Coordinator.py
  ganga/GangaCore/Core/MonitoringComponent/MonitoringService.py
  ganga/GangaCore/GPIDev/Adapters/IBackend.py
  ganga/GangaCore/test/GPI/TutorialTests.py
  ganga/GangaTest/Framework/utils.py
Labels: aio monitoring service

#2050 add check of uploaded Dirac proxy
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/Lib/Credentials/DiracProxy.py
Labels: DIRAC

#2058 Fix CustomMerger documentation
  doc/UserGuide/PostProcessors.rst
  ganga/GangaCore/test/GPI/TutorialTests.py
Labels: docs
