Repository ganga-devs/ganga, pull requests merged in 2022-11, with the labels that each got.

#2076 PEP8 fixes for PR #2075 (dirac_tear_down) by autopep8
  ganga/GangaCore/Core/exceptions.py
Labels: autopep8, automated pr

#2087 PEP8 fixes for PR #2086 (remove_monitoring_limit) by autopep8
  ganga/GangaDirac/__init__.py
Labels: autopep8, automated pr

#2089 Handle monitoring service autostart
  ganga/GangaCore/Core/MonitoringComponent/MonitoringService.py
  ganga/GangaCore/Core/__init__.py
Labels: Core, aio monitoring service

#2075 Add DIRAC executor process tear down
  ganga/GangaCore/Core/MonitoringComponent/MonitoringService.py
  ganga/GangaCore/Core/__init__.py
  ganga/GangaCore/Core/exceptions.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/Lib/Server/DiracExecutorProcess.py
  ganga/GangaDirac/Lib/Server/DiracProcessManager.py
Labels: DIRAC, aio monitoring service

#2086 Remove numParalellJobs option and move it to DIRAC only
  ganga/GangaCore/GPIDev/Adapters/IBackend.py
  ganga/GangaDirac/Lib/Backends/DiracBase.py
  ganga/GangaDirac/__init__.py
Labels: Core, DIRAC

#2092 PEP8 fixes for PR #2091 (condor_python3) by autopep8
  ganga/GangaLHCb/Lib/RTHandlers/GaudiExecRTHandlers.py
Labels: autopep8, automated pr
