Repository ganga-devs/ganga, pull requests merged in 2022-02, with the labels that each got.

#2010 Fix non gaudirun GaudiExec
  ganga/GangaLHCb/Lib/Applications/BenderScript.py
  ganga/GangaLHCb/Lib/Applications/GaudiExec.py
  ganga/GangaLHCb/Lib/Applications/GaudiExecUtils.py
  ganga/GangaLHCb/Lib/Applications/GaudiPython.py
  ganga/GangaLHCb/Lib/Applications/Ostap.py
  ganga/GangaLHCb/Lib/RTHandlers/LHCbGaudiDiracRunTimeHandler.py
Labels: bug, LHCb

#2012 Fix Dirac killJob
  ganga/GangaDirac/Lib/Server/DiracCommands.py
Labels: bug, DIRAC

#2007 Mac os compatibility
  ganga/GangaCore/Lib/Condor/Condor.py
  ganga/GangaCore/Lib/Localhost/LocalHostExec_batch.py.template
  ganga/GangaCore/Lib/Localhost/Localhost.py
  setup.py
Labels: Core
