Repository ganga-devs/ganga, pull requests merged in 2023-09, with the labels that each got.

#2194 Stop Dirac process after creating credential
  ganga/GangaDirac/Lib/Credentials/DiracProxy.py
Labels: bug, DIRAC

#2193 Add missing credential decorator
  ganga/GangaDirac/Lib/Backends/DiracBase.py
Labels: bug, DIRAC

#2196 remove LHCb getOutputDataLFNs
  ganga/GangaLHCb/Lib/Backends/Dirac.py
Labels: LHCb, DIRAC

#2197 PEP8 fixes for PR #2196 (fix_getLFNs) by autopep8
  ganga/GangaLHCb/Lib/Backends/Dirac.py
Labels: autopep8, automated pr
