Repository ganga-devs/ganga, pull requests merged in 2024-07, with the labels that each got.

#2373 Fix exception raising in subjobXLMList
  ganga/GangaCore/Core/GangaRepository/SubJobXMLList.py
Labels: bug, Core

#2374 PEP8 fixes for PR #2373 (repo_error_fix) by autopep8
  ganga/GangaCore/Core/GangaRepository/SubJobXMLList.py
Labels: autopep8, automated pr

#2376 Fix GaudiExec prepare
  ganga/GangaLHCb/Lib/Applications/GaudiExec.py
Labels: bug, LHCb
